astor==0.8.1
graphviz==0.17
networkx==3.0
astunparse==1.6.3
typed-ast==1.5.4
typeshed-client==2.2.0
regex==2023.3.23
dataclasses==0.6
pycg==0.0.6
sphinx
myst_parser
sphinx_rtd_theme
sphinxcontrib-spelling
pydoctor==22.9.1
ruff==0.0.260
black==23.3.0
isort==5.12.0
pre-commit==3.2.1
pytest==7.2.2
